/* src/styles/fonts.css */
@font-face {
    font-family: 'Kento';
    src: url('../public/fonts/kento/Kento-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Kento';
    src: url('../public/fonts/kento/Kento-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  